{% extends 'menuPrincipal.html' %}
{% block content %}
<div class="container">
  
  <h5>  {{ request.session.EmpresaUsuario }} </h5>
  <h5> Unidades </h5>
  <div class="row">
    <div class="col-sm-12">


      
      <table class="table table-striped table-sm">

      
        <tbody id="tabla">
          {% for item in unidades %}
          <tr>

            <th>Unidad {{ item.nombre }}

              
               </th>
            <td>{{ item.descripcion }}   


              
            {% for p in procesos %}
                
            

              {% if item.idunidad == p.0 %}
              <div class="col-sm-12">

                <td style="background-color:#00FF00">Proceso {{p.5}} 
                
                
                 
                  {% for t in tareas %}
                  
                    {% if p.6 == t.2 %}
                    <tr>
                     
                        <td style="background-color:#FF0000">Tarea {{t.4}}</td>
                        <td>{{t.7}} </td>
                        <td>{{t.5}} </td>
                        <td>{{t.6}}</td>
                        <td>{{t.8}}</td>
                     
                      
                      </tr>
                      
                    {% endif %}
                  
  
               
                  
                 
                  {% endfor %}
                
                
                
                </td>

              </div>
              
                   
              
              {% endif %}
            </tr>
        {% endfor %}
            </td> 


          </tr>
          
          {% endfor %}
             
        </tbody>
     
      </table>
           


           
      
      
    </div>
  </div>
  

  <div class="row">
    <table>
  
      <tbody>
        {% for ct in cantidad_tareas %}
        <tbody class="labels">
          
          <tr>
            
            <td colspan="5">
              <label for="accounting">Cantidad de Tareas : {{ct.0}}</label>
              <input type="checkbox" name="accounting" id="accounting" data-toggle="toggle">
            </td>
          </tr>
          
        </tbody>
        <tbody class="hide">
  
          {% for cte in cantidad_tareasEstado %}
  
  
          <tr>
            <td >{{cte.0}}</td>
            <td >{{cte.1}}</td>
            
          </tr>
          {% endfor %}
  
        
        </tbody>
        {% endfor %}
      </tbody>
    </table>

  </div>
  

  


  
</div>

<!-- <script type="application/javascript">
  // Create the chart
  Highcharts.chart('grafico1', {
    chart: {
      type: 'column'
    },
    title: {
      text: 'Tareas ejecutadas'
    },
    subtitle: {
      text: 'Estado de tareas ejejcutadas'
    },
    xAxis: {
      categories: [
        'Tareas en proceso',
        'Tareas pronto a terminar',
        'Traeas atrasadas',
      ],
      crosshair: true
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Cnatidad de tareas'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: 'Estado de tareas',
      colorByPoint: true,
      data: [3, 0, 0]

    }]
  });
  Highcharts.chart('grafico2', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: 0,
      plotShadow: false
    },
    title: {
      text: 'Cantidad<br>de<br>procesos',
      align: 'center',
      verticalAlign: 'middle',
      y: 60
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
        valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: true,
          distance: -50,
          style: {
            fontWeight: 'bold',
            color: 'white'
          }
        },
        startAngle: -90,
        endAngle: 90,
        center: ['50%', '75%'],
        size: '110%'
      }
    },
    series: [{
      type: 'pie',
      name: 'Porcentaje activo',
      innerSize: '50%',
      data: [
        ['Checklist<br>proventivos', 1],
        {
          name: 'Otros',
          y: 0,
          dataLabels: {
            enabled: false
          }
        }
      ]
    }]
  });
</script> -->
<script>
  $(document).ready(function() {
	$('[data-toggle="toggle"]').change(function(){
		$(this).parents().next('.hide').toggle();
	});
});
</script>

<style>

table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}
</style>


{% endblock %}