{% extends 'menuPrincipal.html' %}

{% block content %}
  <div class="container">

    <h4 class="center">Lista de Empresas</h4>

    <table>
      <tr>
        
        <th>Rut</th>
        <th>Nombre</th>

        <th>Direccion</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Editar</th>
      </tr>

      {% for e in empresas %}
         <tr>
             <td>{{ e.1 }}</td>
             <td>{{ e.2 }}</td>

             <td>{{ e.4 }}</td>
             <td>{{ e.7 }}</td>
             <td>{{ e.6 }}</td>
             
         </tr>
  
      {% endfor %}
     
      
    </table>
    <!-- Paginas -->
    <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active blue lighten-1"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>

  </div>

  {% endblock %}